*{
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  body{
    background-color: rgb(228, 226, 226);

    section{
      margin: 5vh 25vw;
      padding: 2.5vh 2.5vw;
      width: 50vw;
      background-color: #CCCACA;
    }
  }

  input{
    border: none;
    border-bottom: .3vh solid black;
    background-color: rgb(204, 202, 202);
    transition: all .3s ease-in-out;
    &:focus{
      transition: all .3s ease-in-out;
      outline: none;
      border-bottom: .3vh solid rgb(255, 210, 10);
    }
  }
}